





<div class="container" id = "home-container">

<div class="jumbotron text-center text-white">
  <h1 class="display-4">The Writing Resource Project</h1>
  <p class="lead"><strong>Whether you want to read blog posts about writing or write one, you are welcome here. If you prefer, you can write just one blog post, or a series, it is up to you. No need to start your own blog that you need to write on a schedule. Write a blog post whenever you are inspired, and do not when you are not.</strong></p>
  <hr class="my-4">
  <p><strong>Sign up now to start sharing your writing knowledge</strong></p>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
</div>

</div>






